*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #be9b7b;
}

.cabecalho{
	background-color: #fff4e6;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10vw;
	padding-bottom: 5px;
	width: 90vw;
	box-shadow: 0px 5px 15px #3c2f2f;
}

.titulo{
	font-family: Birthstone;
	font-size: 48px;
	color: #854442;
}

.subtitulo{
	font-family: Montserrat_Alternates;
	font-size: 18px;
	color: #854442;
}

.menu_inicial{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5vh;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 500px;
	-border: 1px solid black;
}

.formulario{
	background: #fff4e6;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 95vw;
	border-radius: 20px;
	box-shadow: 0px 5px 15px #3c2f2f;
}

.entradas{
	display: grid;
	column-gap: 5vw;
	row-gap: 2vh;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px 20px 0px;
	width: 90vw;
}

.Gitem1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: Montserrat_Alternates;
	font-size: 20px;
	color: #3c2f2f;
}

.Gitem2{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: Montserrat;
	font-size: 20px;
	color: #3c2f2f;
	border: none;
	border-radius: 50px;
	padding: 0px 0px 0px 10px;
	box-shadow: 0px 5px 15px #3c2f2f;
}

.Gitem3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: Montserrat;
	font-size: 20px;
	color: #3c2f2f;
	border: none;
	border-radius: 50px;
	padding: 0px 0px 0px 10px;
	box-shadow: 0px 5px 15px #3c2f2f;
}

.Gitem4{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: Montserrat;
	font-size: 20px;
	color: #3c2f2f;
	border: none;
	border-radius: 50px;
	padding: 0px 0px 0px 10px;
	box-shadow: 0px 5px 15px #3c2f2f;
}

.btn_padrao{
	background-color: #fff4e6;
	font-family: Montserrat_Alternates;
	font-size: 20px;
	color: #3c2f2f;
	border: none;
	border-radius: 50px;
	width: 35vw;
	height: 5vh;
	box-shadow: 0px 5px 15px #3c2f2f;
}

.btn_confirmar{
	background-color: #6fcb9f;
}

.btn_voltar{
	background-color: #ff4e50;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.parcelas{
	display: none;
	margin-top: 2vh;
}











/* Fontes */
@font-face{
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face{
  font-family: Montserrat_Alternates;
  src: url(../fonts/MontserratAlternates-Medium.ttf);
}

@font-face{
  font-family: Birthstone;
  src: url(../fonts/Birthstone-Regular.ttf);
}

.btn_padrao:hover{
	cursor: pointer;
}

.Gitem2, .Gitem3, .Gitem4:focus{
	border: none;
	outline: none;
}

.entradas:has(#lista_pagamento option[value="credito"]:checked) .parcelas{
	display: block;
}


@media(max-width: 445px){
	.Gitem1{
		font-size: 16px;
		width: 16vw;
	}
	.Gitem2, .Gitem3, .Gitem4{
		font-size: 14px;
		width: 36vw;
	}
	.btn_padrao{
		font-size: 16px;
		width: 55vw;
		height: 5vh;
	}
}
@media(max-width: 360px){
	.Gitem1{
		font-size: 12px;
		width: 12vw;
	}
	.Gitem2, .Gitem3, .Gitem4{
		font-size: 10px;
		width: 30vw;
	}
	.btn_padrao{
		font-size: 12px;
		width: 50vw;
		height: 5vh;
	}
}
@media(max-width: 295px){
	.Gitem1{
		font-size: 10px;
		width: 15vw;
	}
	.Gitem2, .Gitem3, .Gitem4{
		font-size: 8px;
		width: 24vw;
	}
	.btn_padrao{
		font-size: 10px;
		width: 40vw;
		height: 5vh;
	}
	.subtitulo{
		font-size: 12px;
	}
}